// #ifdef  H5
:root {
	/* 文字尺寸 */
	--uni-font-size-title: 36rpx;
	--uni-font-size-base: 28rpx;

	/* 主题色 */
	--uni-primary-color: #40AE36;
	/* 标题色 */
	--uni-title-color: #01000D;


	/*标题高度*/
	--title-height: 88rpx;
	/* 安全区域高度 */
	--safe-area-height: 148rpx;
}
// #endif
// #ifdef MP-WEIXIN
page {
	/* 文字尺寸 */
	--uni-font-size-title: 36rpx;
	--uni-font-size-base: 28rpx;
	
	/* 主题色 */
	--uni-primary-color: #40AE36;
	/* 标题色 */
	--uni-title-color: #01000D;
	
	
	/*标题高度*/
	--title-height: 88rpx;
	/* 安全区域高度 */
	--safe-area-height: 148rpx;
}
// #endif