@import "common.scss";
@import 'three-dots';

*{
	line-height: 1;
}
//公共类
.ai-color-primary{
	color: $uni-primary-color;
}
.ai-title-color{
	color: var(--uni-title-color);
}
.ai-display-flex{
	display: flex;
}
.ai-align-items-center{
	align-items: center;
}
.ai-justify-content-center{
	justify-content: center;
}
.ai-justify-content-space-between{
	justify-content: space-between;
}
.border-box{
	box-sizing: border-box;
}
.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.ai-position-fixed{
	position: fixed;
}
.text-align-left{
	text-align: left;
}

.text-align-right{
	text-align: right;
}


.dot-flashing{
	background-color: var(--uni-primary-color);
	color: var(--uni-primary-color);
	animation: dot-flashing 1s infinite linear alternate;
	animation-delay: 0.5s;
	&::after{
		background-color: var(--uni-primary-color);
		color: var(--uni-primary-color);
		animation: dot-flashing 1s infinite alternate;
		animation-delay: 1s;
	}
	&::before{
		background-color: var(--uni-primary-color);
		color: var(--uni-primary-color);
		animation: dot-flashing 1s infinite alternate;
		animation-delay: 0s;
	}
}
@keyframes dot-flashing{
	0%{
		background-color:var(--uni-primary-color) ;
	}
	50%,100%{
		background-color: rgba(64, 174, 54, 0.2);
	}
}


