.ai-content-container {
	max-height: calc(100vh  - var(--safe-area-height) + 15rpx);
	width: 100%;
	padding-top: 20rpx;
	// overflow-y: auto;
	overflow: hidden;
	background-color: #fff;
	position: sticky;
	top: 0;
	.content{
		// height: auto;
		max-height: calc(100vh  - var(--safe-area-height) + 15rpx - 20rpx);
		overflow-y: auto;
	}
	.common-item {
		position: relative;
		display: inline-block;
		height: auto;
		padding: 22rpx 40rpx;
		max-width: 570rpx;
		font-size: var(--uni-font-size-base);
		line-height: 42rpx;
		word-break:break-all;
		word-wrap:break-word;
	}
	.question {
		margin: 0 40rpx 30rpx auto;
		color: #FFFFFF;
		background-color: var(--uni-primary-color);
		border-radius: 20rpx 0rpx 20rpx 20rpx;
	}

	.answer {
		margin: 0 auto 50rpx 40rpx;
		color: #333333;
		border-radius: 0rpx 20rpx 20rpx 20rpx;
		background: #F7F7F7;
		&-copy{
			position: absolute;
			left: 0;
			bottom: -45rpx;
			padding: 0rpx 10rpx 0rpx 0rpx;
			border-radius: 10rpx;
			font-size: 24rpx;
			.copy-img{
				width: 48rpx;
				height: 48rpx;
			}
			&-text{
				padding-top: 4rpx;
				padding-left: 1rpx;
			}
		}
	}
	.loading {
		width: 50rpx !important;
		.dot-flashing{
			margin: 0 auto;
		}
	}
	.title{
		display: flex;
		max-width: 100%;
		margin-bottom: 30rpx;
		border-radius: 20rpx;
		text-align: center;
		&-text{
			height: 56rpx;
			margin-right: 5rpx;
		}
		&-img{
			width: 56rpx;
			height: 56rpx;
		}
	}
	.add-container{
		position: absolute;
		left: -55rpx;
		top: 0;
		padding: 0 10rpx;
		height: 100%;
		.addImg{
			width: 35rpx;
			height: 35rpx;
			background: #CCC;
			border-radius: 50%;
			.img{
				width: 60%;
				height: 60%;
			}
		}
	}
}
//安卓特别适配
.ai-content-container-android{
	max-height: calc(100vh  - var(--safe-area-height) - 38rpx);
	padding-bottom: 38rpx;
}