.ai-content-container {
	max-height: calc(100vh  - var(--safe-area-height) + 15rpx);
	width: 100%;
	padding-top: 20rpx;
	overflow-y: auto;
	background-color: #fff;
	position: sticky;
	top: 0;
	.content{
		height: auto;
	}
	.common-item {
		display: inline-block;
		height: auto;
		padding: 22rpx 40rpx;
		max-width: 570rpx;
		font-size: var(--uni-font-size-base);
		line-height: 42rpx;
		word-break:break-all;
		word-wrap:break-word;
	}
	.question {
		position: relative;
		margin: 0 40rpx 30rpx auto;
		color: #FFFFFF;
		background-color: var(--uni-primary-color);
		border-radius: 20rpx 0rpx 20rpx 20rpx;
	}

	.answer {
		margin: 0 auto 30rpx 40rpx;
		color: #333333;
		border-radius: 0rpx 20rpx 20rpx 20rpx;
		background: #F7F7F7;
	}
	.loading {
		width: 50rpx !important;
		.dot-flashing{
			margin: 0 auto;
		}
	}
	.add-container{
		position: absolute;
		left: -55rpx;
		top: 0;
		padding: 0 10rpx;
		height: 100%;
		.addImg{
			width: 35rpx;
			height: 35rpx;
			background: #CCC;
			border-radius: 50%;
			.img{
				width: 60%;
				height: 60%;
			}
		}
	}
	
}
.ai-content-container-android{
	max-height: calc(100vh  - var(--safe-area-height) - 38rpx);
	padding-bottom: 38rpx;
}